*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
@font-face {
    font-family:"mont" ;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
header{
    padding: 0px 50px;
    background-color: #070670;
    color: white;
    display: flex;
    align-items: center;

}
ul{
    display: flex;
    padding: 40px 50px;
    font-family: "mont";
    text-align: center;
    text-decoration: white;


}
.banner{
    justify-content: center;
    display: flex;
}
.titulo{
    display: flex;
    text-align: left;
}

body {
    background-color: rgb(255, 255, 255);
font-family: "mont";}
    
    

    .card-grid {
    
    
        padding: 30px;
        margin: auto;
        display: grid;/*posiciona os cards lado a lado*/
        grid-template-columns: auto;/* colunas automáticas*/
        grid-template-areas: "a a a a";/*divide o grid em 4 colunas*/
        gap: 20px;/* espaço (vão) entre as colunas do grid*/
        width: 1300px;/*largura total do grid*/
       
    }
    
    .card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s;}
    
    .card img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .card-content {
        
        text-align: center;
        font-family: "mont";
        overflow: hidden;
        
    }
    
    .card-content h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .card-content p {
        font-size: 1em;
        color: #666;
    }
    
    .card-content .btn {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.3s;/*velocidade de transição da cor do botão*/
    }
    
    .card-content .btn:hover {
        background-color: #0056b3;
        transform: translateY(-2px);/*movimenta o botão em -2px no eixo y*/
    }
    
    .card:hover {
        transform: translateY(-5px);/*movimenta o cartão em -5px no eixo y*/
    }

    .textopro{
        padding: 50px;
        text-align: center;
        font-size: 35px;
    }
    footer{
        background-color: #333;
        color: #fff;
        padding: 80px;
        text-align: center;
        text-decoration: none;
        justify-content: center;
        display: flex;
    }
    body{
        text-decoration: none
    }
    .mapa{
        justify-content: center;
        display: flex;
        padding: 0px 0px 100px;
    }
    .menu a{
        text-decoration: none;
        color: white;
        text-align: center;
        display: flex;
        padding: 0px;
    }
    .redes{
        padding-right: 150px;
        display:flex;
        align-items: center;
        margin-left: auto;
        gap: 20px;
    }
    .rodape a{
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .direitos{
        font-size: 10px;
        padding: 60px;

    }
