button{
    border-radius: 10px;
    border-color: white;
    
}
.texto{
    margin: 20px;
}
@font-face {
    font-family: "mont";
    src: url(Montserrat-VariableFont_wght.ttf);
}
.texto{
    font-family: "mont";
    
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botao{
    border-radius: 10px;
}
